extends: "airbnb-base"

parser: "babel-eslint"
plugins: ["babel"]

ecmaFeatures:
  modules: true
  generators: true

env:
  browser: true
  es6: true

# http://eslint.org/docs/rules/
rules:
  strict: 0

  # Possible Errors
  comma-dangle: [2, "always-multiline"]
  no-cond-assign: [2, "always"]

  # Best Practices
  eqeqeq: [2, "allow-null"]
  no-multi-spaces: 0
  quotes: [2, "double"]

  # Variables
  no-use-before-define: [2, "nofunc"]

  # Stylistic Issues
  key-spacing: [2, {"mode": "minimum", "beforeColon": false, "afterColon": true}]
  space-before-function-paren: [2, "never"]
  func-names: 0
  max-len: [2, 120, 2]
  quote-props: [2, "consistent"]

  # ECMAScript 6
  arrow-body-style: 0
